name: dockerprac

services:
  frontend:
    build: 
      context: .
      network: host
      dockerfile: ./docker/Dockerfile.frontend
    ports: 
        - "3000:3000"
    depends_on:
      - database
      
  backend: 
    build:
      context: .
      network: host
      dockerfile: ./docker/Dockerfile.backend
    ports: 
        - "3000:3000"
    depends_on:
      - database

  websocket:
    build: 
      context: .
      network: host
      dockerfile : ./docker/Dockerfile.websocket
    ports: 
        - "3002:3002"
    depends_on:
      - database

  database:
    image: postgres
    ports: 
      - "5432:5432"
    volumes:
      - prisma_db:/var/lib/postgresql/data
volumes:
  prisma_db:
  
    