name: Continuos deployment (Prod) (Backend)
on:
  push:
    branches: [main, master]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: cloning the repo
        uses: actions/checkout@v2
        with : 
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./docker/Dockerfile.backend
          tags: indophoenix/dockerprac_backend:${{github.sha}}
    

